<section class="our-story mb-0 mb-sm-4">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-sm-5 px-lg-5">
      <div class="px-3 px-lg-5">
        <h1 class="text-white fs-lg pt-5 mb-4">Our Story</h1>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat,
          exercitationem? Sapiente soluta perferendis deleniti possimus. Iusto
        </p>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex esse
          cumque sit ullam culpa voluptatum impedit sapiente natus, quis quam
          aperiam, aliquid vero assumenda nobis veniam? Debitis doloremque esse
          hic.
        </p>
        <p class="text-white">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat nulla
          cupiditate, doloremque voluptatum beatae minima accusantium
          reprehenderit tenetur animi facere, perspiciatis explicabo, ducimus
          corporis? Dolor fuga hic eos ab quis.
        </p>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="">
        <img
          src="assets/images/home/bar-image2.jpg"
          class="d-block w-100"
          style="height: 34rem"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
